<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css">
	<title>Landing - App clima</title>
	
</head>
<body>

		<header class="header-landing">
			<h1>¿Qué es app-clima?</h1>
		</header>
		<main class="main-landing">

			<div class="descripcion letra-blanca">
				App clima se trata del monitoreo de la temperatura máxima y mínima, humedad, sensacion térmica de un lugar especifico, hay algunas estaciones las cuales van a estar inactivas ya que no estamos recibiendo datos de ellas actualmente.
			</div>

				<a class="letra-blanca" href="panel">
					<button class="btn">Ver estaciones	</button>
				</a>

		</main>
		<footer class="footer-landing letra-blanca">
			<p class="p-15">Autor Choque Melina.</p>
		</footer>


</body>
</html>